# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.noseids
coverage.xml
*,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyre
.pyre/

# pytype
.pytype/

# Cython debug symbols
cython_debug/

# VS Code
.vscode/

# MacOS
.DS_Store

# Environments
.env
.envrc

# Data
*.tif
*.tiff
*.png
*.jpg

# Notebooks outputs
.notebooks/

# Data
data/*
!data/.gitkeep
!data/sites.csv
!data/events.csv
!data/granules.csv
!data/event_granule.csv
!data/sgi_vs_sga_pixels.csv
!data/models/
!data/models/*
